body{
    padding: 10px;
    text-align: center;
    background-color:black;
    color:wheat;
    
    
}

h1{
    padding: 30px;
    font-size:50px;
    color: #fff;
}

p{
    font-size:30px;
    color: yellowgreen;
    margin-top:20px;
    font-weight: 30px;
}

img{
    
    margin-top: 30px;
    width: 350px;
    height:270px;
}

li{
    list-style-type: none;
    text-decoration: none;
}
ul{
    font-size:25px;
    margin-right: 22px;
}
.container{
    box-sizing: border-box;
   margin-top:30px;
    width: 350px;
    height: 270px;
    align-items: center;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    background-color:yellowgreen;
    color: darkblue;
    text-align: center;
}
